video {
  object-fit: cover;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  z-index: 0;
  position: relative;
}

.hero-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  position: relative;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  margin-top: -530px;
  top:0;
  left:0;
  z-index:1;
}

.hero-container > p {
  margin-top: 8px;
  color: #fff;
  font-size: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 1;
}

.hero-btns {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.hero-btns .btn {
  margin: 6px;
}

.fa-play-circle {
  margin-left: 4px;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    font-size: 70px;
    margin-top: -300px;
    top:0;
    left:0;
    z-index:1;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    font-size: 40px;
    margin-top: -230px;
    top:0;
    left:0;
    z-index:1;
  }

  .hero-container > p {
    font-size: 22px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 50%;
    font-size: small;
  }

  .hero-btns {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    z-index: 1;
  }
}
